.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    background-color: hsl(212, 45%, 89%);
}

.cadre{
    margin: auto;
    margin-top: 100px;
    background-color: hsl(0, 0%, 100%);
    padding: 1em;
    width: 306px;
    height: 500px;
    text-align: center;
    border-radius: 5%;
}
p{
    font-family: 'Outfit', sans-serif;
}
#qrcode{
    width: 300px;
    height: 300px;
    border-radius: 5%;
}
.skills{
    font-weight: bold;
    font-size: x-large;
    margin: 20px;
}
.descritpion{
    color: gray;
    margin: 10%; 
    font-size: 15px;
    font-weight: 400,700;
}